In [1]:
#df = pd.read_csv('../data/roll_the_dice_hundred.csv')

# Libraries

In [2]:
import requests
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

# Functions

In [18]:
def group_sum_crimes(df, year):
    """
    Input: DataFrame, Int
    Output: DataFrame
    
    # We receive a dataframe, we filter it by the year passed and we return a grouped by borough dataframe.
    """
    df = df[df.year==year]
    
    return df.groupby('borough').sum().drop('year', axis=1)

In [19]:
grouped_by = []
for year in range(2008, 2017):
    grouped_by.append(group_sum_crimes(df2, year))

In [20]:
def concat_years(dfs):
    """
    Input: list
    Output: DataFrame
    
    # We'll receive a list of DataFrames and then concatenate them together
    """
    df = pd.concat([dfs[0], dfs[1]], axis=1)
    
    for dataframe in dfs[2:]:
        df = pd.concat([df, dataframe], axis=1, sort=False)
        
    return df

In [21]:
years = concat_years(grouped_by)
years.columns = range(2008, 2017)

# DF containing the sum of crimes per boroughs according to the years

In [22]:
years

,2008,2009,2010,2011,2012,2013,2014,2015,2016
Barking and Dagenham,17656.0,17713.0,17130.0,16686,15990,15759,15426,16346,16741
Barnet,23944.0,23449.0,23416.0,24007,23573,22510,22572,24036,24684
Bexley,15305.0,14445.0,13166.0,11325,11669,11552,11844,11990,12840
Brent,23504.0,24748.0,25512.0,27669,26357,23759,24426,24883,26693
Bromley,24015.0,21858.0,19572.0,19868,19622,18945,19668,20637,20164
Camden,32010.0,31612.0,31804.0,33956,31472,28435,27198,29477,29183
Croydon,29516.0,29784.0,29373.0,29830,30189,27444,27357,28089,28712
Ealing,28947.0,28617.0,31360.0,29537,28832,25917,24978,26247,27127
Enfield,21980.0,21147.0,20808.0,21041,21069,21574,21700,22076,22485
Greenwich,22010.0,19851.0,18626.0,18552,20028,18948,19894,20929,22730
Hackney,22004.0,20718.0,20175.0,21395,27095,25633,24893,26941,28265
Hammersmith and Fulham,21114.0,21211.0,21941.0,22151,21030,18605,19185,19848,20174
Haringey,25724.0,23704.0,22156.0,23179,23231,20705,22773,24626,27174
Harrow,13774.0,13948.0,13945.0,12801,12803,11914,11909,12601,13153
Havering,15395.0,14538.0,14957.0,15496,15965,15089,14734,15870,16903
Hillingdon,24318.0,24605.0,23421.0,24282,22103,20248,23128,23234,24341
Hounslow,20204.0,19783.0,19665.0,21105,22724,19749,20005,21286,22251
Islington,26273.0,25485.0,24693.0,24980,26268,23784,24679,27032,27092
Kensington and Chelsea,20663.0,18742.0,19481.0,19146,19757,17702,17840,19070,19580
Kingston upon Thames,10661.0,10163.0,10171.0,10155,9956,9191,9288,9738,9983
Lambeth,31717.0,31225.0,31671.0,33224,33473,31868,31765,33164,34071
Lewisham,27054.0,25182.0,24532.0,24201,23652,22074,21101,23437,23904
Merton,13875.0,13561.0,13595.0,13548,12856,11595,11596,12273,12755
Newham,29752.0,28610.0,30728.0,27978,30067,27577,28005,29217,30090
Redbridge,20873.0,20837.0,20652.0,21994,21424,19793,19590,18897,19502
Richmond upon Thames,11106.0,10618.0,10601.0,10896,11168,10439,10456,10413,11074
Southwark,33470.0,30623.0,31320.0,30723,30737,31128,28912,30260,31636
Sutton,12943.0,12240.0,12032.0,11068,10948,10057,10443,10598,10658
Tower Hamlets,23578.0,21959.0,23072.0,24712,26784,26258,25504,27493,29253
Waltham Forest,24080.0,24761.0,24818.0,23714,22647,21903,20271,20969,20716
Wandsworth,23330.0,23021.0,22815.0,21384,24457,22290,21364,22401,23679
Westminster,47846.0,48456.0,48116.0,54243,59226,53852,47564,47395,48330
City of London,NaN,NaN,NaN,69,157,110,115,151,178

# Some Info

In [5]:
df = pd.read_csv('../Week4/london_crime_by_lsoa.csv')# overall DF

In [6]:
df.head()

,lsoa_code,borough,major_category,minor_category,value,year,month
0,E01001116,Croydon,Burglary,Burglary in Other Buildings,0,2016,11
1,E01001646,Greenwich,Violence Against the Person,Other violence,0,2016,11
2,E01000677,Bromley,Violence Against the Person,Other violence,0,2015,5
3,E01003774,Redbridge,Burglary,Burglary in Other Buildings,0,2016,3
4,E01004563,Wandsworth,Robbery,Personal Property,0,2008,6

We have the dataframe for the major crimes in London from 2008-2016 listed in different Borroughs

In [7]:
#Looking at the different types of elements in our DF
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13490604 entries, 0 to 13490603
Data columns (total 7 columns):
lsoa_code         object
borough           object
major_category    object
minor_category    object
value             int64
year              int64
month             int64
dtypes: int64(3), object(4)
memory usage: 720.5+ MB
None

In [8]:
#df['year'].unique()
df1 = df.sort_values('year')

In [9]:
df1.head()#ordering the years

,lsoa_code,borough,major_category,minor_category,value,year,month
12504370,E01001255,Ealing,Violence Against the Person,Assault with Injury,0,2008,6
5807276,E01002790,Islington,Violence Against the Person,Harassment,0,2008,2
5807272,E01003634,Newham,Burglary,Burglary in Other Buildings,0,2008,9
8512153,E01033698,Hackney,Theft and Handling,Motor Vehicle Interference & Tampering,0,2008,8
5807264,E01004565,Wandsworth,Drugs,Possession Of Drugs,0,2008,3

In [10]:
df1['year'].unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016])

In [11]:
dict= {1:'January',2:'February',3:"March",4:'April',5:'May',6:'June',7:'July',8:'August',9:'September',10:'October',11:'November',12:'December'}
df1['month'].replace(dict,inplace=True)

In [12]:
df1.head()

,lsoa_code,borough,major_category,minor_category,value,year,month
12504370,E01001255,Ealing,Violence Against the Person,Assault with Injury,0,2008,June
5807276,E01002790,Islington,Violence Against the Person,Harassment,0,2008,February
5807272,E01003634,Newham,Burglary,Burglary in Other Buildings,0,2008,September
8512153,E01033698,Hackney,Theft and Handling,Motor Vehicle Interference & Tampering,0,2008,August
5807264,E01004565,Wandsworth,Drugs,Possession Of Drugs,0,2008,March

In [13]:
df1.drop(['lsoa_code'],axis=1,inplace=True) #dropping the lsoa_code

In [14]:
df1.head()

,borough,major_category,minor_category,value,year,month
12504370,Ealing,Violence Against the Person,Assault with Injury,0,2008,June
5807276,Islington,Violence Against the Person,Harassment,0,2008,February
5807272,Newham,Burglary,Burglary in Other Buildings,0,2008,September
8512153,Hackney,Theft and Handling,Motor Vehicle Interference & Tampering,0,2008,August
5807264,Wandsworth,Drugs,Possession Of Drugs,0,2008,March

In [15]:
df2 = df1[df1.value!=0]# erasing the 0 value in column=value and calling it df2

In [16]:
df2.head()

,borough,major_category,minor_category,value,year,month
1315511,Tower Hamlets,Violence Against the Person,Common Assault,2,2008,September
2874646,Southwark,Robbery,Business Property,1,2008,July
8512166,Camden,Criminal Damage,Other Criminal Damage,1,2008,September
8512169,Hounslow,Drugs,Possession Of Drugs,2,2008,September
5807242,Kingston upon Thames,Theft and Handling,Other Theft,2,2008,November

In [17]:
df2.groupby(['year']).sum() # groupby year to find the total value of crimes per year

       value
year
2008  738641
2009  717214
2010  715324
2011  724915
2012  737329
2013  686407
2014  680183
2015  711624
2016  736121

This is the total value of crimes per year

# Data 2008

In [23]:
df_2008 = df2[df2.year==2008]

In [24]:
#df_2008.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

In [25]:
df_2008.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

                                                  value
borough              major_category
Barking and Dagenham Burglary                      1764
                     Criminal Damage               2934
                     Drugs                         1467
                     Fraud or Forgery               205
                     Other Notifiable Offences      253
                     Robbery                        635
                     Sexual Offences                 49
                     Theft and Handling            5354
                     Violence Against the Person   4995
Barnet               Burglary                      3750
                     Criminal Damage               2918
                     Drugs                         1264
                     Fraud or Forgery               175
                     Other Notifiable Offences      297
                     Robbery                        794
                     Sexual Offences                 38
                     Theft and Handling            9872
                     Violence Against the Person   4836
Bexley               Burglary                      2284
                     Criminal Damage               2893
                     Drugs                          996
                     Fraud or Forgery               106
                     Other Notifiable Offences      148
                     Robbery                        349
                     Sexual Offences                 22
                     Theft and Handling            5236
                     Violence Against the Person   3271
Brent                Burglary                      3266
                     Criminal Damage               2504
                     Drugs                         2813
...                                                 ...
Tower Hamlets        Sexual Offences                 47
                     Theft and Handling            8847
                     Violence Against the Person   5423
Waltham Forest       Burglary                      3174
                     Criminal Damage               3160
                     Drugs                         2165
                     Fraud or Forgery               236
                     Other Notifiable Offences      277
                     Robbery                       1414
                     Sexual Offences                 34
                     Theft and Handling            8253
                     Violence Against the Person   5367
Wandsworth           Burglary                      2821
                     Criminal Damage               2857
                     Drugs                         1281
                     Fraud or Forgery               161
                     Other Notifiable Offences      280
                     Robbery                       1030
                     Sexual Offences                 47
                     Theft and Handling           10033
                     Violence Against the Person   4820
Westminster          Burglary                      2962
                     Criminal Damage               2599
                     Drugs                         4075
                     Fraud or Forgery               273
                     Other Notifiable Offences      588
                     Robbery                       1327
                     Sexual Offences                 59
                     Theft and Handling           29266
                     Violence Against the Person   6697

[288 rows x 1 columns]

Number of crimes per category and per borough in 2008

In [26]:
a = df_2008.groupby(['borough']).sum().drop(['year'],axis=1)

Number of crimes per borough in 2008

# Data 2009

In [27]:
df_2009 = df2[df2.year==2009]

In [28]:
#df_2009.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

Number of crimes per category and per borough in 2009

In [29]:
b = df_2009.groupby(['borough']).sum().drop(['year'],axis=1)

Number of crimes per borough in 2009

# Data 2010

In [30]:
df_2010 = df2[df2.year==2010]

In [31]:
#df_2010.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

Number of crimes per category and per borough in 2010

In [32]:
c = df_2010.groupby(['borough']).sum().drop(['year'],axis=1)

Number of crimes per borough in 2010

# Data 2011

In [33]:
df_2011 = df2[df2.year==2011]

In [34]:
#df_2011.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

Number of crimes per category and per borough in 2011

In [35]:
d = df_2011.groupby(['borough']).sum().drop(['year'],axis=1)

Number of crimes per borough in 2011

# Data 2012

In [36]:
df_2012 = df2[df2.year==2012]

In [37]:
#df_2012.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

Number of crimes per category and per borough in 2012

In [38]:
e = df_2012.groupby(['borough']).sum().drop(['year'],axis=1)

Number of crimes per borough in 2012

# Data 2013

In [39]:
df_2013 = df2[df2.year==2013]

In [40]:
#df_2013.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

Number of crimes per category and per borough in 2013

In [41]:
f = df_2013.groupby(['borough']).sum().drop(['year'],axis=1)

Number of crimes per borough in 2013

# Data 2014

In [42]:
df_2014 = df2[df2.year==2014]

In [43]:
#df_2014.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

Number of crimes per category and per borough in 2014

In [44]:
g = df_2014.groupby(['borough']).sum().drop(['year'],axis=1)

Number of crimes per borough in 2014

# Data 2015

In [45]:
df_2015 = df2[df2.year==2015]

In [46]:
#df_2015.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

Number of crimes per category and per borough in 2015

In [47]:
h = df_2015.groupby(['borough']).sum().drop(['year'],axis=1)

Number of crimes per borough in 2015

# Data 2016

In [48]:
df_2016 = df2[df2.year==2016]

In [49]:
#df_2016.groupby(['borough','major_category']).sum().drop(['year'],axis=1)

Number of crimes per category and per borough in 2016

In [50]:
i = df_2016.groupby(['borough']).sum().drop(['year'],axis=1)

Number of crimes per borough in 2016

# Poubelle

In [51]:
merged = a.merge(b, on='borough', suffixes=('2008', '2009'))

In [52]:
merged = merged.merge(c, on='borough', suffixes=('2010', '2011'))

In [53]:
dataframes = [(2010, c), (2011, d), (2012, e), (2013, f) , (2014, g) , (2015, h) , (2016, i)]

for j, i in dataframes:
    merged = merged.merge(i, on='borough', suffixes=(str(j), '2010'))